@model TimelyTastes.Models.VendorFoodItemsViewModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/site.css">
    <title>Order Summary</title>
</head>

<body class=" ">

    <div class="order">
        <div class="order__container">
            <div class="page__title">
                Order Summary
            </div>

            <div class="order__details">
                <div class="mt-20"><span>Meal: </span>@Model.FoodItem.Name</div>
                <div><span>Vendor: </span>@Model.Vendor.Name</div>
                <div><span>Address: </span>@Model.Vendor.Adress</div>
                <div class="mb-20 mt-10"><span>Pickup: </span>@Model.FoodItem.AvailableFrom.ToString("M/d/yyyy")
                    @Model.FoodItem.AvailableFrom.ToString("hh:mm tt")
                    @Model.FoodItem.AvailableUntil.ToString("hh:mm tt")</div>
            </div>


            <div>
                <div class="order__original-price">
                    <div>Original Price</div>
                    <div>@($"R{Model.FoodItem.OriginalPrice}")</div>
                </div>

                <div class="order__discount-price">
                    <div>Your Total:</div>
                    <div>@($"R{Model.FoodItem.DiscountPrice}")</div>


                </div>

            </div>

            <form action="">
                <div class="terms-conditions">
                    <label>
                        <input type="checkbox" name="terms-of-service" value="yes" required
                            oninvalid="this.setCustomValidity('You must accept the Terms & Conditions to continue')"
                            oninput="this.setCustomValidity('')" />
                        <span>
                            I agree to the <a href="#" class="underline">Terms & Conditions</a> and <a href="#"
                                class="underline">Privacy Policy</a>
                        </span>
                    </label>
                </div>

                <button type="submit">Continue</button>

            </form>
        </div>
    </div>
</body>

</html>